.planets-container {
    max-width: 600px;
}

.planet-name {
    margin-top: 20px;
    margin-bottom: 20px;
}

.journey-summary-box {
    box-shadow: inset 0 0 5px black;
}

.infini-sign {
    margin-left: -50px;
    margin-right: -50px;
}


